= semantic_form_for  @contact , html:{ class: "form-horizontal", role: "form" } do |f|
  = f.inputs name: "Contact details" do
    = f.input :v_address  , label: 'Address'
    = f.input :contact_type
  = f.actions



